[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}
html,
body {
    height: 90%;
    margin: 0;
    padding: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative !important;
}

footer {
    position: relative !important;
}

#mapa {
    height: 100%;
}

#form-descricao-do-foco {
    position: absolute;
    top: 300px;
    width: 75%;
    max-width: 350px;
    margin: auto auto auto 10px;
}

.label-descricao-do-foco {
    background-color: whitesmoke;
    padding: 5px;
}

.button-descricao-do-foco-ok {
    width: 16%;
}

.button-descricao-do-foco-x {
    width: 13%;
}

.input-descricao-do-foco {
    max-width: 68%;
    display: inline-block !important;
}